.navbar {
  margin-bottom: 0;
  top: 135px;
  position: absolute;
}

img{
	height: 135px;
	width: 435px;
}

.navbar-default{
	background-color: #3399ff;
	border-color: #3399ff;
}

.navbar {
    background-color: #3399ff;
    z-index: 2;
    font-size: 16px;
    border: 0;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
}

.navbar li a{
    color: #fff !important;
    font-family: Times;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #3399ff !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.person{
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 1;
}

.person:hover {
    transform: scale(1.5);
    opacity: 0.8;
}

.bg-2 {
    background-color: #ff9933; 
    color: black;
    font-size: 20px;  
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: Trebuchet MS;
}
.bg-3 {
    background-color: #0066ff;
    color: black;
    padding-bottom: 50px;
    font-family: Trebuchet MS;
}
.bg-5{
	background-color:f2f2f2;
}

.signButton{
  padding: 10px 26px;
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
}


.btn1 {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  
}

.btn1:hover {
  background-color: orange;
  color: white;
}

.bg-4 {
    background-color: #d9d9d9; 
    color: black;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Trebuchet MS;
    font-size: 16px;

}


.bg-5{
	background-color: #e6e6e6; 
}

.text-left{
	text-align: left;
}

.float_img{
	float: right;
	height: 350%;
	width: 40%;
	margin-bottom: 50px;
	margin-top: 10px;
}

.float_left{
	float: left;
	padding-right: 50px;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100% !important;
      
  }


.img{
	display: block;
	height: auto;
}

.overlay{
	position: absolute;
	bottom: 0;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
	color: #f1f1f1
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	text-align: center;
	color: white;
	font-size: 20px;
	text-align: center;
}

.overlay:hover .overlay{
	opacity:1;
}

* {box-sizing: border-box;}





.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img:hover .img {
  opacity: 0.3;
}

.img:hover .middle {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.parent-container{
	display: flex;
}
